@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
}

a { 
  color: #000;
  text-decoration: none;
}
a.logo {
  font-weight: 600;
  font-size: 18px;
}

::-webkit-scrollbar {
  display: none;
}